*.DS_Store
*.vs
build/
dist/
build_doc/
*.user
*.tmp
*.pyc

.vscode
.idea
.project
.cproject
.pydevproject
.settings/
CMakeSettings.json
Makefile
.test_env/
.cache/
third_party/

*~
bazel-*
third_party/

build_*
# clion workspace.
cmake-build-*
model_test
