[submodule "external/remotetts"]
	path = external/remotetts
	url = git@github.com:Mobile-AIMate/AIMate3-RemoteTTS.git
[submodule "external/asr"]
	path = external/asr
    url = git@github.com:Mobile-AIMate/AIMate3-RemoteASR.git
[submodule "external/AIMate3-emotion_hand"]
	path = external/emotion_hand
	url = git@github.com:Mobile-AIMate/AIMate3-emotion_hand.git
