[submodule "external/remotetts"]
	path = external/remotetts
	url = git@github.com:Mobile-AIMate/AIMate3-RemoteTTS.git
[submodule "external/asr"]
	path = external/asr
	url = git@47.108.143.39:AI_mate/aimate3/remoteasr.git
[submodule "external/AIMate3-emotion_hand"]
	path = external/emotion_hand
	url = git@github.com:Mobile-AIMate/AIMate3-emotion_hand.git
