[submodule "external/handguesture"]
	path = external/handgesture
	url = git@47.108.143.39:AI_mate/aimate3/handgesture.git
[submodule "external/emotionrecognition"]
	path = external/emotionrecognition
	url = git@47.108.143.39:AI_mate/aimate3/emotionrecognition.git
[submodule "external/remotetts"]
	path = external/remotetts
	url = git@47.108.143.39:AI_mate/aimate3/remotetts.git
[submodule "external/asr"]
	path = external/asr
	url = http://gitlab.crowdhmt.com/AI_mate/aimate3/remoteasr
